In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Cardetails.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [3]:
df.shape

(8128, 13)

In [4]:
df.dropna(inplace=True) #all null value remove

In [5]:
df.shape

(7906, 13)

In [6]:
df.drop_duplicates(inplace=True) #reomve all duplicate value

In [7]:
df.shape

(6717, 13)

In [8]:
#we have data all is string so we use label encoder

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
labelencoding  = LabelEncoder()

In [11]:
df.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0

In [12]:
df["name"].unique()

array(['Maruti Swift Dzire VDI', 'Skoda Rapid 1.5 TDI Ambition',
       'Honda City 2017-2020 EXi', ..., 'Tata Nexon 1.5 Revotorq XT',
       'Ford Freestyle Titanium Plus Diesel BSIV',
       'Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [13]:
# df["name"] = labelencoding.fit_transform(df["name"])

In [14]:
df.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0

In [15]:
def car_gr(df):
    df = df.split(" ")[0]
    return df.strip(" ")

In [16]:
df["name"]=df["name"].apply(car_gr)

In [17]:
df["name"].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [18]:
df["name"]=labelencoding.fit_transform(df["name"])

In [19]:
df["name"].unique()

array([20, 26, 10, 11, 28,  9, 25, 19, 27,  4,  6, 14, 21, 22,  2, 29,  3,
       23, 17, 13, 16, 18, 30,  5, 15,  7,  8,  0,  1, 12, 24])

In [20]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,20,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,26,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,10,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,11,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,20,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [21]:
df["fuel"].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [22]:
df["fuel"] =labelencoding.fit_transform(df["fuel"])
df["fuel"].unique()

array([1, 3, 2, 0])

In [23]:
df["seller_type"].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [24]:
df["seller_type"]=labelencoding.fit_transform(df["seller_type"])
df["seller_type"].unique()

array([1, 0, 2])

In [25]:
df["transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [26]:
df["transmission"]=labelencoding.fit_transform(df["transmission"])
df["transmission"].unique()

array([1, 0])

In [27]:
df["owner"].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [28]:
df["owner"] = labelencoding.fit_transform(df["owner"])
df["owner"].unique()

array([0, 2, 4, 1, 3])

In [29]:
df["mileage"].unique()

array(['23.4 kmpl', '21.14 kmpl', '17.7 kmpl', '23.0 kmpl', '16.1 kmpl',
       '20.14 kmpl', '17.3 km/kg', '23.59 kmpl', '20.0 kmpl',
       '19.01 kmpl', '17.3 kmpl', '19.3 kmpl', '18.9 kmpl', '18.15 kmpl',
       '24.52 kmpl', '19.7 kmpl', '22.54 kmpl', '21.0 kmpl', '25.5 kmpl',
       '26.59 kmpl', '21.5 kmpl', '20.3 kmpl', '21.4 kmpl', '24.7 kmpl',
       '18.2 kmpl', '16.8 kmpl', '24.3 kmpl', '14.0 kmpl', '18.6 kmpl',
       '33.44 km/kg', '23.95 kmpl', '17.0 kmpl', '20.63 kmpl',
       '13.93 kmpl', '16.0 kmpl', '17.8 kmpl', '18.5 kmpl', '12.55 kmpl',
       '12.99 kmpl', '14.8 kmpl', '13.5 kmpl', '26.0 kmpl', '20.65 kmpl',
       '27.3 kmpl', '11.36 kmpl', '17.68 kmpl', '14.28 kmpl',
       '18.53 kmpl', '14.84 kmpl', '21.12 kmpl', '20.36 kmpl',
       '21.27 kmpl', '18.16 kmpl', '22.0 kmpl', '25.1 kmpl', '20.51 kmpl',
       '21.66 kmpl', '25.2 kmpl', '22.9 kmpl', '16.02 kmpl', '20.54 kmpl',
       '22.77 kmpl', '15.71 kmpl', '23.1 kmpl', '19.02 kmpl',
       '19.81 kmpl', '26.2 km/kg', '16.47 kmpl', '15.04 kmpl',
       '19.1 kmpl', '21.79 kmpl', '18.8 kmpl', '21.21 kmpl', '15.37 kmpl',
       '11.79 kmpl', '19.0 kmpl', '14.3 kmpl', '15.8 kmpl', '15.1 kmpl',
       '19.09 kmpl', '22.32 kmpl', '21.9 kmpl', '14.53 kmpl',
       '21.63 kmpl', '20.85 kmpl', '20.45 kmpl', '19.67 kmpl',
       '23.01 kmpl', '20.77 kmpl', '17.92 kmpl', '17.01 kmpl',
       '22.37 kmpl', '19.33 kmpl', '9.5 kmpl', '12.83 kmpl', '22.48 kmpl',
       '16.78 kmpl', '14.67 kmpl', '15.0 kmpl', '13.96 kmpl', '18.0 kmpl',
       '12.07 kmpl', '26.21 kmpl', '10.8 kmpl', '16.3 kmpl', '13.6 kmpl',
       '14.74 kmpl', '15.6 kmpl', '19.56 kmpl', '22.69 kmpl',
       '19.16 kmpl', '18.12 kmpl', '12.1 kmpl', '17.5 kmpl', '42.0 kmpl',
       '20.4 kmpl', '21.1 kmpl', '19.44 kmpl', '13.0 kmpl', '21.43 kmpl',
       '22.95 kmpl', '16.2 kmpl', '15.3 kmpl', '28.09 kmpl', '17.4 kmpl',
       '19.4 kmpl', '26.6 km/kg', '17.6 kmpl', '28.4 kmpl', '14.1 kmpl',
       '25.17 kmpl', '22.74 kmpl', '17.57 kmpl', '16.95 kmpl',
       '19.49 kmpl', '17.21 kmpl', '13.2 kmpl', '14.2 kmpl', '26.8 kmpl',
       '25.4 kmpl', '11.5 kmpl', '27.28 kmpl', '17.97 kmpl', '12.8 kmpl',
       '16.55 kmpl', '12.05 kmpl', '14.07 kmpl', '21.02 kmpl',
       '11.57 kmpl', '17.9 kmpl', '15.96 kmpl', '17.1 kmpl', '17.19 kmpl',
       '21.01 kmpl', '24.0 kmpl', '25.6 kmpl', '21.38 kmpl', '23.84 kmpl',
       '23.08 kmpl', '14.24 kmpl', '20.71 kmpl', '15.64 kmpl',
       '14.5 kmpl', '16.34 kmpl', '27.39 kmpl', '11.1 kmpl', '13.9 kmpl',
       '20.88 km/kg', '20.92 kmpl', '23.8 kmpl', '24.4 kmpl',
       '15.29 kmpl', '21.19 kmpl', '22.5 kmpl', '19.6 kmpl', '23.65 kmpl',
       '25.32 kmpl', '23.5 kmpl', '16.6 kmpl', '23.9 kmpl', '20.8 kmpl',
       '27.62 kmpl', '12.9 kmpl', '25.44 kmpl', '17.88 kmpl', '22.7 kmpl',
       '17.2 kmpl', '15.42 kmpl', '19.68 kmpl', '18.7 kmpl', '15.4 kmpl',
       '19.34 kmpl', '22.71 kmpl', '25.8 kmpl', '13.7 kmpl', '12.2 kmpl',
       '18.49 kmpl', '9.0 kmpl', '0.0 kmpl', '13.58 kmpl', '10.1 kmpl',
       '20.5 kmpl', '25.0 kmpl', '10.5 kmpl', '22.07 kmpl', '22.3 kmpl',
       '15.26 kmpl', '20.62 kmpl', '27.4 kmpl', '23.2 kmpl', '14.4 kmpl',
       '18.4 kmpl', '30.46 km/kg', '14.02 kmpl', '11.0 kmpl', '20.6 kmpl',
       '22.05 kmpl', '20.2 kmpl', '18.1 kmpl', '22.1 kmpl', '19.87 kmpl',
       '13.01 kmpl', '18.06 kmpl', '26.1 kmpl', '16.52 kmpl',
       '13.55 kmpl', '24.2 kmpl', '25.83 kmpl', '11.2 kmpl', '17.09 kmpl',
       '21.03 kmpl', '17.45 kmpl', '21.64 kmpl', '21.94 km/kg',
       '13.87 kmpl', '19.98 kmpl', '20.52 kmpl', '23.57 kmpl',
       '11.7 kmpl', '17.43 kmpl', '18.88 kmpl', '13.68 kmpl',
       '11.18 kmpl', '20.89 kmpl', '11.8 kmpl', '19.62 kmpl', '21.7 kmpl',
       '14.9 kmpl', '19.5 kmpl', '10.91 kmpl', '15.7 kmpl', '20.73 kmpl',
       '15.85 kmpl', '20.7 kmpl', '14.23 kmpl', '16.5 kmpl', '17.36 kmpl',
       '12.6 kmpl', '16.36 kmpl', '14.95 kmpl', '16.9 kmpl', '19.2 kmpl',
       '16.96 kmpl', '22.15 kmpl', '18.78 kmpl', '19.61 kmpl',
       '17.71 kmpl', '18.3 kmpl', '19.12 kmpl', '19.72 kmpl', '12.0 kmpl',
       '11.4 kmpl', '23.03 kmpl', '11.07 kmpl', '15.9 kmpl', '17.67 kmpl',
       '20.46 kmpl', '13.1 kmpl', '13.45 km/kg', '24.8 kmpl',
       '15.73 kmpl', '15.11 kmpl', '12.7 kmpl', '21.2 kmpl', '20.38 kmpl',
       '21.56 kmpl', '13.22 kmpl', '14.49 kmpl', '15.05 kmpl',
       '23.26 kmpl', '15.41 kmpl', '13.8 kmpl', '22.27 kmpl',
       '32.52 km/kg', '14.66 kmpl', '12.12 kmpl', '16.84 kmpl',
       '14.09 kmpl', '14.7 kmpl', '13.4 kmpl', '15.5 kmpl', '13.49 kmpl',
       '11.88 km/kg', '14.6 kmpl', '10.75 kmpl', '24.5 kmpl',
       '11.74 kmpl', '16.07 kmpl', '15.63 kmpl', '26.3 km/kg',
       '23.7 km/kg', '25.47 kmpl', '17.05 kmpl', '23.3 kmpl', '11.9 kmpl',
       '13.38 kmpl', '20.86 kmpl', '19.2 km/kg', '10.9 kmpl',
       '18.25 kmpl', '15.2 kmpl', '20.37 kmpl', '17.8 km/kg', '21.8 kmpl',
       '11.96 kmpl', '24.04 kmpl', '19.69 kmpl', '13.73 kmpl',
       '21.04 kmpl', '25.01 kmpl', '10.93 kmpl', '10.9 km/kg',
       '24.29 kmpl', '13.44 kmpl', '20.07 kmpl', '21.1 km/kg',
       '19.08 kmpl', '20.34 kmpl', '11.68 kmpl', '12.5 kmpl', '12.3 kmpl',
       '23.87 kmpl', '16.38 kmpl', '17.42 kmpl', '10.0 kmpl',
       '18.24 kmpl', '10.71 kmpl', '19.59 kmpl', '16.7 kmpl',
       '19.83 kmpl', '21.76 kmpl', '16.05 kmpl', '20.28 kmpl',
       '16.25 kmpl', '16.73 kmpl', '18.48 kmpl', '13.2 km/kg',
       '21.4 km/kg', '14.99 kmpl', '18.76 kmpl', '16.4 kmpl',
       '19.64 kmpl', '14.94 kmpl', '16.6 km/kg', '16.0 km/kg',
       '17.11 kmpl', '22.8 km/kg', '32.26 km/kg', '33.0 km/kg',
       '12.4 kmpl', '18.44 kmpl', '16.09 kmpl', '19.0 km/kg',
       '12.62 kmpl', '21.13 kmpl', '15.17 kmpl', '21.73 kmpl',
       '21.72 kmpl', '12.85 kmpl', '14.81 kmpl', '13.24 kmpl',
       '14.4 km/kg', '21.49 kmpl', '14.62 kmpl', '26.83 km/kg',
       '11.45 kmpl', '12.08 kmpl', '15.74 kmpl', '11.3 kmpl',
       '15.1 km/kg', '14.21 kmpl', '11.72 kmpl', '16.51 kmpl'],
      dtype=object)

In [30]:
def car_g(df):
    df = df.split(" ")[0]
    return df.strip(" ")

In [31]:
df["mileage"]=df["mileage"].apply(car_g)

In [32]:
df["mileage"].unique()

array(['23.4', '21.14', '17.7', '23.0', '16.1', '20.14', '17.3', '23.59',
       '20.0', '19.01', '19.3', '18.9', '18.15', '24.52', '19.7', '22.54',
       '21.0', '25.5', '26.59', '21.5', '20.3', '21.4', '24.7', '18.2',
       '16.8', '24.3', '14.0', '18.6', '33.44', '23.95', '17.0', '20.63',
       '13.93', '16.0', '17.8', '18.5', '12.55', '12.99', '14.8', '13.5',
       '26.0', '20.65', '27.3', '11.36', '17.68', '14.28', '18.53',
       '14.84', '21.12', '20.36', '21.27', '18.16', '22.0', '25.1',
       '20.51', '21.66', '25.2', '22.9', '16.02', '20.54', '22.77',
       '15.71', '23.1', '19.02', '19.81', '26.2', '16.47', '15.04',
       '19.1', '21.79', '18.8', '21.21', '15.37', '11.79', '19.0', '14.3',
       '15.8', '15.1', '19.09', '22.32', '21.9', '14.53', '21.63',
       '20.85', '20.45', '19.67', '23.01', '20.77', '17.92', '17.01',
       '22.37', '19.33', '9.5', '12.83', '22.48', '16.78', '14.67',
       '15.0', '13.96', '18.0', '12.07', '26.21', '10.8', '16.3', '13.6',
       '14.74', '15.6', '19.56', '22.69', '19.16', '18.12', '12.1',
       '17.5', '42.0', '20.4', '21.1', '19.44', '13.0', '21.43', '22.95',
       '16.2', '15.3', '28.09', '17.4', '19.4', '26.6', '17.6', '28.4',
       '14.1', '25.17', '22.74', '17.57', '16.95', '19.49', '17.21',
       '13.2', '14.2', '26.8', '25.4', '11.5', '27.28', '17.97', '12.8',
       '16.55', '12.05', '14.07', '21.02', '11.57', '17.9', '15.96',
       '17.1', '17.19', '21.01', '24.0', '25.6', '21.38', '23.84',
       '23.08', '14.24', '20.71', '15.64', '14.5', '16.34', '27.39',
       '11.1', '13.9', '20.88', '20.92', '23.8', '24.4', '15.29', '21.19',
       '22.5', '19.6', '23.65', '25.32', '23.5', '16.6', '23.9', '20.8',
       '27.62', '12.9', '25.44', '17.88', '22.7', '17.2', '15.42',
       '19.68', '18.7', '15.4', '19.34', '22.71', '25.8', '13.7', '12.2',
       '18.49', '9.0', '0.0', '13.58', '10.1', '20.5', '25.0', '10.5',
       '22.07', '22.3', '15.26', '20.62', '27.4', '23.2', '14.4', '18.4',
       '30.46', '14.02', '11.0', '20.6', '22.05', '20.2', '18.1', '22.1',
       '19.87', '13.01', '18.06', '26.1', '16.52', '13.55', '24.2',
       '25.83', '11.2', '17.09', '21.03', '17.45', '21.64', '21.94',
       '13.87', '19.98', '20.52', '23.57', '11.7', '17.43', '18.88',
       '13.68', '11.18', '20.89', '11.8', '19.62', '21.7', '14.9', '19.5',
       '10.91', '15.7', '20.73', '15.85', '20.7', '14.23', '16.5',
       '17.36', '12.6', '16.36', '14.95', '16.9', '19.2', '16.96',
       '22.15', '18.78', '19.61', '17.71', '18.3', '19.12', '19.72',
       '12.0', '11.4', '23.03', '11.07', '15.9', '17.67', '20.46', '13.1',
       '13.45', '24.8', '15.73', '15.11', '12.7', '21.2', '20.38',
       '21.56', '13.22', '14.49', '15.05', '23.26', '15.41', '13.8',
       '22.27', '32.52', '14.66', '12.12', '16.84', '14.09', '14.7',
       '13.4', '15.5', '13.49', '11.88', '14.6', '10.75', '24.5', '11.74',
       '16.07', '15.63', '26.3', '23.7', '25.47', '17.05', '23.3', '11.9',
       '13.38', '20.86', '10.9', '18.25', '15.2', '20.37', '21.8',
       '11.96', '24.04', '19.69', '13.73', '21.04', '25.01', '10.93',
       '24.29', '13.44', '20.07', '19.08', '20.34', '11.68', '12.5',
       '12.3', '23.87', '16.38', '17.42', '10.0', '18.24', '10.71',
       '19.59', '16.7', '19.83', '21.76', '16.05', '20.28', '16.25',
       '16.73', '18.48', '14.99', '18.76', '16.4', '19.64', '14.94',
       '17.11', '22.8', '32.26', '33.0', '12.4', '18.44', '16.09',
       '12.62', '21.13', '15.17', '21.73', '21.72', '12.85', '14.81',
       '13.24', '21.49', '14.62', '26.83', '11.45', '12.08', '15.74',
       '11.3', '14.21', '11.72', '16.51'], dtype=object)

In [33]:
df.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,20,2014,450000,145500,1,1,1,0,23.4,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,26,2014,370000,120000,1,1,1,2,21.14,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0

In [34]:
df["engine"].unique()

array(['1248 CC', '1498 CC', '1497 CC', '1396 CC', '1298 CC', '1197 CC',
       '1061 CC', '796 CC', '1364 CC', '1399 CC', '1461 CC', '993 CC',
       '1198 CC', '1199 CC', '998 CC', '1591 CC', '2179 CC', '1368 CC',
       '2982 CC', '2494 CC', '2143 CC', '2477 CC', '1462 CC', '2755 CC',
       '1968 CC', '1798 CC', '1196 CC', '1373 CC', '1598 CC', '1998 CC',
       '1086 CC', '1194 CC', '1172 CC', '1405 CC', '1582 CC', '999 CC',
       '2487 CC', '1999 CC', '3604 CC', '2987 CC', '1995 CC', '1451 CC',
       '1969 CC', '2967 CC', '2497 CC', '1797 CC', '1991 CC', '2362 CC',
       '1493 CC', '1599 CC', '1341 CC', '1794 CC', '799 CC', '1193 CC',
       '2696 CC', '1495 CC', '1186 CC', '1047 CC', '2498 CC', '2956 CC',
       '2523 CC', '1120 CC', '624 CC', '1496 CC', '1984 CC', '2354 CC',
       '814 CC', '793 CC', '1799 CC', '936 CC', '1956 CC', '1997 CC',
       '1499 CC', '1948 CC', '2997 CC', '2489 CC', '2499 CC', '2609 CC',
       '2953 CC', '1150 CC', '1994 CC', '1388 CC', '1527 CC', '2199 CC',
       '995 CC', '2993 CC', '1586 CC', '1390 CC', '909 CC', '2393 CC',
       '3198 CC', '1339 CC', '2835 CC', '2092 CC', '1595 CC', '2496 CC',
       '1596 CC', '1597 CC', '2596 CC', '2148 CC', '1299 CC', '1590 CC',
       '2231 CC', '2694 CC', '2200 CC', '1795 CC', '1896 CC', '1796 CC',
       '1422 CC', '1489 CC', '2359 CC', '2197 CC', '2999 CC', '1781 CC',
       '2650 CC', '1343 CC', '2446 CC', '3498 CC', '2198 CC', '2776 CC',
       '1950 CC'], dtype=object)

In [35]:
df["engine"]=df["engine"].apply(car_g)

In [37]:
df["engine"].unique()

array(['1248', '1498', '1497', '1396', '1298', '1197', '1061', '796',
       '1364', '1399', '1461', '993', '1198', '1199', '998', '1591',
       '2179', '1368', '2982', '2494', '2143', '2477', '1462', '2755',
       '1968', '1798', '1196', '1373', '1598', '1998', '1086', '1194',
       '1172', '1405', '1582', '999', '2487', '1999', '3604', '2987',
       '1995', '1451', '1969', '2967', '2497', '1797', '1991', '2362',
       '1493', '1599', '1341', '1794', '799', '1193', '2696', '1495',
       '1186', '1047', '2498', '2956', '2523', '1120', '624', '1496',
       '1984', '2354', '814', '793', '1799', '936', '1956', '1997',
       '1499', '1948', '2997', '2489', '2499', '2609', '2953', '1150',
       '1994', '1388', '1527', '2199', '995', '2993', '1586', '1390',
       '909', '2393', '3198', '1339', '2835', '2092', '1595', '2496',
       '1596', '1597', '2596', '2148', '1299', '1590', '2231', '2694',
       '2200', '1795', '1896', '1796', '1422', '1489', '2359', '2197',
       '2999', '1781', '2650', '1343', '2446', '3498', '2198', '2776',
       '1950'], dtype=object)

In [38]:
df["max_power"].unique()

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', '67 bhp', '82 bhp', '88.5 bhp',
       '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp', '88.8 bhp',
       '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp', '34.2 bhp',
       '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp', '138.03 bhp',
       '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp', '67.05 bhp',
       '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp', '175.56 bhp',
       '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp', '187.74 bhp',
       '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp', '108.495 bhp',
       '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp', '189 bhp',
       '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp', '81.80 bhp',
       '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp', '155 bhp',
       '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp', '126.2 bhp',
       '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp', '214.56 bhp',
       '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp', '190 bhp',
       '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp', '241.4 bhp',
       '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp', '103.5 bhp',
       '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp', '91.1 bhp',
       '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp', '53 bhp',
       '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '56.3 bhp', '218 bhp', '112 bhp', '92 bhp',
       '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp', '152 bhp',
       '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp', '105.3 bhp',
       '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp', '72 bhp',
       '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp', '76.9 bhp',
       '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp', '118.35 bhp',
       '99 bhp', '241 bhp', '136 bhp', '261.4 bhp', '104.68 bhp',
       '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp', '91.7 bhp',
       '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp', '147.8 bhp',
       '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp', '167.6 bhp',
       '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp', '110.4 bhp',
       '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp', '108.6 bhp',
       '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp', '127 bhp',
       '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp', '138.08 bhp',
       '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp', '116.6 bhp',
       '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp', '78.8 bhp',
       '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp', '181 bhp',
       '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp', '157.75 bhp',
       '101 bhp', '186 bhp', '187.4 bhp', '224 bhp', '64.9 bhp',
       '148 bhp', '35.5 bhp', '89.75 bhp', '32.8 bhp', '91.72 bhp',
       '106 bhp', '98.97 bhp', '66.6 bhp', '86 bhp', '65.3 bhp',
       '98.82 bhp', '198.25 bhp', '38 bhp', '142 bhp', '132 bhp',
       '174.57 bhp', '178 bhp', '163.2 bhp', '203.2 bhp', '177.5 bhp',
       '175 bhp', '57 bhp', '80.84 bhp', '68.4 bhp', '167.67 bhp',
       '170.63 bhp', '52 bhp', '149.5 bhp', '48.21 bhp', '201.1 bhp',
       '100.5 bhp', '144 bhp', '194.4 bhp', '168.7 bhp', '104.5 bhp',
       '103.26 bhp', '116.4 bhp', '98.79 bhp', '80.9 bhp', '58.3 bhp',
       '272 bhp', '235 bhp', '167.62 bhp', '170.30 bhp', '139.46 bhp',
       '158 bhp', '110.5 bhp', '82.5 bhp', '141.1 bhp', '38.4 bhp',
       '197.2 bhp', '161 bhp', '194 bhp', '122.4 bhp', '134.10 bhp',
       '60.2 bhp', '134 bhp', '203 bhp', '135.1 bhp'], dtype=object)

In [40]:
df["max_power"]=df["max_power"].apply(car_g)
df["max_power"].unique()

array(['74', '103.52', '78', '90', '88.2', '81.86', '57.5', '37', '67.1',
       '68.1', '108.45', '60', '73.9', '67', '82', '88.5', '46.3',
       '88.73', '64.1', '98.6', '88.8', '83.81', '83.1', '47.3', '73.8',
       '34.2', '35', '81.83', '40.3', '121.3', '138.03', '160.77',
       '117.3', '116.3', '83.14', '67.05', '168.5', '100', '120.7',
       '98.63', '175.56', '103.25', '171.5', '100.6', '174.33', '187.74',
       '170', '78.9', '88.76', '86.8', '108.495', '108.62', '93.7',
       '103.6', '98.59', '189', '67.04', '68.05', '58.2', '82.85',
       '81.80', '73', '120', '94.68', '160', '65', '155', '69.01',
       '126.32', '138.1', '83.8', '126.2', '98.96', '62.1', '86.7', '188',
       '214.56', '177', '280', '148.31', '254.79', '190', '177.46', '204',
       '141', '117.6', '241.4', '282', '150', '147.5', '108.5', '103.5',
       '183', '181.04', '157.7', '164.7', '91.1', '400', '68', '75',
       '85.8', '87.2', '53', '118', '103.2', '83', '84', '58.16',
       '147.94', '74.02', '53.3', '80', '88.7', '97.7', '121.36', '162',
       '140', '94', '100.57', '82.9', '83.11', '70', '153.86', '121',
       '126.3', '73.97', '171', '69', '99.6', '102', '105', '63', '79.4',
       '97.9', '63.1', '66.1', '110', '174.5', '53.26', '73.75', '67.06',
       '64.08', '37.5', '189.3', '158.8', '61.7', '55.2', '71.01',
       '73.74', '147.9', '71', '77', '121.4', '113.4', '47', '130',
       '57.6', '138', '52.8', '53.64', '53.5', '76.8', '82.4', '113.42',
       '76', '84.8', '56.3', '218', '112', '92', '105.5', '169', '95',
       '72.4', '115', '152', '91.2', '156', '74.9', '62', '105.3',
       '73.94', '85.80', '85', '118.3', '72', '147.51', '58', '64',
       '126.24', '76.9', '194.3', '99.23', '89.84', '123.7', '118.35',
       '99', '241', '136', '261.4', '104.68', '37.48', '104', '88.50',
       '63.12', '91.7', '102.5', '177.6', '45', '123.37', '147.8', '184',
       '84.48', '68.07', '74.96', '167.6', '152.87', '112.2', '83.83',
       '197', '110.4', '104.55', '103', '103.3', '66', '108.6', '165',
       '163.7', '116.9', '94.93', '127', '198.5', '179.5', '120.69',
       '121.31', '138.08', '187.7', '80.8', '86.79', '93.87', '116.6',
       '143', '92.7', '88', '58.33', '78.8', '64.4', '125', '139.01',
       '254.8', '181', '258', '55.23', '270.9', '265', '157.75', '101',
       '186', '187.4', '224', '64.9', '148', '35.5', '89.75', '32.8',
       '91.72', '106', '98.97', '66.6', '86', '65.3', '98.82', '198.25',
       '38', '142', '132', '174.57', '178', '163.2', '203.2', '177.5',
       '175', '57', '80.84', '68.4', '167.67', '170.63', '52', '149.5',
       '48.21', '201.1', '100.5', '144', '194.4', '168.7', '104.5',
       '103.26', '116.4', '98.79', '80.9', '58.3', '272', '235', '167.62',
       '170.30', '139.46', '158', '110.5', '82.5', '141.1', '38.4',
       '197.2', '161', '194', '122.4', '134.10', '60.2', '134', '203',
       '135.1'], dtype=object)

In [41]:
df.head(1)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,20,2014,450000,145500,1,1,1,0,23.4,1248,74,190Nm@ 2000rpm,5.0

In [45]:
df.drop(["torque"],axis=1,inplace=True)

In [46]:
df.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,20,2014,450000,145500,1,1,1,0,23.4,1248,74,5.0
1,26,2014,370000,120000,1,1,1,2,21.14,1498,103.52,5.0

In [48]:
df.shape

(6717, 12)

In [49]:
x=df.drop(["selling_price"],axis=1)

In [50]:
x

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,20,2014,145500,1,1,1,0,23.4,1248,74,5.0
1,26,2014,120000,1,1,1,2,21.14,1498,103.52,5.0
2,10,2006,140000,3,1,1,4,17.7,1497,78,5.0
3,11,2010,127000,1,1,1,0,23.0,1396,90,5.0
4,20,2007,120000,3,1,1,0,16.1,1298,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8121,20,2013,50000,3,1,1,2,18.9,998,67.1,5.0
8122,11,2014,80000,1,1,1,2,22.54,1396,88.73,5.0
8123,11,2013,110000,3,1,1,0,18.5,1197,82.85,5.0
8124,11,2007,119000,1,1,1,1,16.8,1493,110,5.0
8125,20,2009,120000,1,1,1,0,19.3,1248,73.9,5.0

In [51]:
y=df["selling_price"]

In [52]:
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8121    260000
8122    475000
8123    320000
8124    135000
8125    382000
Name: selling_price, Length: 6717, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [60]:
x_train.shape

(5373, 11)

In [61]:
x_test.shape

(1344, 11)

In [57]:
from sklearn.linear_model import LinearRegression

In [59]:
model = LinearRegression()

In [62]:
model.fit(x_train,y_train)

LinearRegression()

In [65]:
model.score(x_test,y_test)

0.6180981876683789

In [66]:
p=model.predict(x_test)

In [68]:
p

np.float64(187069.4690426737)

In [73]:
input_data_model =pd.DataFrame([[26,2014,120000,1,1,1,2,21.14,1498,103.52,5.0]],
                columns=["name","year","km_driven","fuel","seller_type","transmission","owner","mileage","engine","max_power","seats"])

In [74]:
model.predict(input_data_model)

array([621083.89177883])

In [64]:
df.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,20,2014,450000,145500,1,1,1,0,23.4,1248,74,5.0
1,26,2014,370000,120000,1,1,1,2,21.14,1498,103.52,5.0